body {
  overflow-x: hidden;
}
.title{
  background-image: url("https://bit.ly/2VuWxOc");
  padding: 15%;
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  text-align: center;
}
.title h1{
  color:  navy;
  font-weight: 500;
  text-decoration-line: underline;
  font-family: 'Gochi Hand';
  font-size: 100px;
}
.title p{
  color:  black;
  font-weight: 900;
  font-family: 'Gochi Hand';
  font-size: 50px;
}
.pizza{
  background-image: url("https://bit.ly/2Ic8Zea");
}
.about{
  text-align: center;
  height: 500px;
  font-family: 'Lacquer';
  color: white;
}
.about h3{
  font-weight: 500;
  font-size: 50px;
  text-decoration-line: underline;
}
.about p{
  font-size: 25px;
}
.how {
  background-image: url("https://bit.ly/2T9tSNo");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Gloria Hallelujah';
  animation: shake 10s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 2px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.how h3{
  font-weight: 600;
}
select{
  border-color: black;

}
.how input{
  border-color: black;

}
.how ::placeholder{
  color: black;
}
.summary {
  background-image: url("https://bit.ly/2T5JjWF");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  font-family: 'Pacifico';
  text-align: center;
  display: none;
  font-size: 20px;
}
.summary h2{
  text-decoration-line: underline;
}
.contact{
  background-image: url("https://bit.ly/2vvhRJ1");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1200px;
  font-family: 'Nanum Pen Script';
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}
.contact h2{
  font-weight: 1000;
  text-decoration-line: underline;
}
.feedback input{
  background: transparent;
  margin-right: 100px;
  width: 400px;
}
textarea{
  background: transparent;
  color: black;
  width: 980px;
  height: 300px;
}
.feedback ::placeholder{
  color: white;
}