body {
  overflow-x: hidden;
}
.title{
  background-image: url("https://bit.ly/2VuWxOc");
  padding: 15%;
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  text-align: center;
}
.title h1{
  color:  black;
  font-weight: 500;
  text-decoration-line: underline;
  font-family: 'Gochi Hand';
  font-size: 80px;
}
.title p{
  color:  black;
  font-weight: 900;
  font-family: 'Gochi Hand';
  font-size: 30px;
}
.how{
  background-image: url("https://bit.ly/2T9tSNo");
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Gloria Hallelujah';
}

.how h3{
  font-weight: 600;
}
select{
  border-color: black;

}
.how input{
  border-color: black;

}
.how ::placeholder{
  color: black;
}
.summary {
  background-image: url("https://bit.ly/2T5JjWF");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  font-family: 'Pacifico';
  text-align: center;
  display: none;
  font-size: 20px;
}
.contact{
  background-image: url("https://bit.ly/2vvhRJ1");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}
